body{
   margin: 20px!important;
}
.wrapper{
    margin: 0 auto; 
    width: 700px; 
    text-align: center; 
     
}
.container{
    display: none;
}

.all_btn{
    background: darkmagenta; 
    padding: 3px;
    margin: 10px;
    width: 10%; 
    border: 1px solid cornsilk;
    border-radius: 5px;
    color: white;   
    font-size: 1.em;
    text-align: center;
    /* cursor: pointer;  */
    
    
}

#h-score{
  
}

