body{
   margin: 20px!important;
}
.wrapper{
    margin: 0 auto; 
    width: 700px; 
    text-align: center; 
     
}
.finish-section{
    margin: 0 auto; 
    width: 900px; 
    visibility: hidden;
}

.final-page{

    margin: 0 auto; 
    width: 900px; 
    visibility: hidden;
 }

.all_btn{
    background: darkmagenta; 
    padding: 3px;
    margin: 10px;
    width: 10%; 
    border: 1px solid cornsilk;
    border-radius: 5px;
    color: white;   
    font-size: 1.em;
    text-align: center;
    /* cursor: pointer;  */
    
    
}
.myBtn{
    background: darkmagenta; 
    padding: 10px;
    margin: 10px;
    width: 20%; 
    border: 1px solid cornsilk;
    border-radius: 5px;
    color: white;   
    font-size: 1.em;
    /* text-align: justify; */

}

button{
    background: darkmagenta!important; 
     
}

