body{
   margin: 20px!important;
}
.wrapper{
    margin: 0 auto; 
    width: 700px; 
    text-align: center; 
     
}
.finish-section{
    margin: 0 auto; 
    width: 900px; 
    visibility: hidden;
}

.final-page{

    margin: 0 auto; 
    width: 900px; 
    visibility: hidden;
 }

.all_btn{
    background: darkmagenta; 
    padding: 10px;
    margin: 10px;
    width: 30%; 
    border: 1px solid cornsilk;
    border-radius: 5px;
    color: white;   
    font-size: 1.em;
    text-align: center;
    /* cursor: pointer;  */
    
    
}
.myBtn{
    background: darkmagenta; 
    padding: 10px;
    margin: 10px;
    width: 20%; 
    border: 1px solid cornsilk;
    border-radius: 5px;
    color: white;   
    font-size: 1.em;
    

}

button{
    background: darkmagenta!important; 
     
}

@media only screen 
and (min-width:320px) 
and (max-width:540px) {

    .all_btn{
        background: darkmagenta; 
        padding: 10px;
        margin: 20px;
        width: 100%; 
        border: 1px solid cornsilk;
        border-radius: 5px;
        color: white;   
        font-size: 1.em;
        text-align: center;
        /* cursor: pointer;  */
        
        
    }
    .wrapper{
        margin: 0px;
        text-align: justify;
        word-wrap: break-word;
        width: 100%;
    }

        
    h2{
        text-align: left;
    }

    .finish-section{
        margin: 0px; 
        width: 100%; 
        visibility: hidden;
    }
    
    .final-page{

        margin: 0px; 
        width: 100%; 
        visibility: hidden;
     }
}

